html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.identity,
.understand,
.execute,
.portfolio,
.team,
.contact1,
.contact2,
.contact3 {
  font-size: 14px;
  color: black;
}

.ny {
  color: white;
}

div {
  color: white;
}

.navi {
  font-size: 18px;
  text-decoration:underline;
}

.footer {
  color:white;
  font-size: 11px;
}

.footer-home,
.footer-process,
.footer-work,
.footer-team,
.footer-contact {
  font-size: 18px;
  text-decoration:underline;
}
